.signUp {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: white;
  }
  .signUp-logo {
    margin-top: 20px;
    margin-bottom: 20px;
    object-fit: contain;
    width: 100px;
    margin-right: auto;
    margin-left: auto;
  }
  .signUp-container {
    width: 300px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 20px;
  }
  .signUp-container > h1 {
    font-weight: 500;
    margin-bottom: 20px;
  }
  .signUp-container > form > h5 {
    margin-bottom: 5px;
  }
  .signUp-container > form > input {
    height: 30px;
    margin-bottom: 10px;
    background-color: white;
    width: 98%;
  }
  .signUp-container p {
    font-size: 12px;
    margin-top: 15px;
  }
  .signUp-signUpBtn {
    background-color: rgb(150, 191, 72);
    border: 1px solid;
    margin-top: 10px;
    border-color: darkgray;
    color: #111;
    cursor: pointer;
    width: 100%;
    height: 30px;
  }
  .error-text{
    color: red;
    font-size: larger;
  }
  